<div *ngIf="aCargar != cargados">
    cargando...
</div>

<div *ngIf="aCargar == cargados">
    <button type="button" class="btn btn-primary btn-sm m-1" (click)="ejecutarCamiones()">CAMIONES</button>
    <button type="button" class="btn btn-primary btn-sm m-1" (click)="ejecutarOrigen()">POR ORIGEN</button>
    <button type="button" class="btn btn-primary btn-sm m-1" (click)="ejecutarCamiones()">POR DESTINO</button>
</div>

<table id="miTabla">
    <thead>
        <tr>
            <th *ngFor="let col of columns" style="text-align: center;">{{col.header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataTabla">
            <td *ngFor="let col of columns">
                <div *ngIf="col.field != 'ok_origen' && col.field != 'ok_destino' && col.field != 'ok_contrato'">
                    {{data[col.field]}}
                </div>

                <div *ngIf="col.field == 'ok_origen' || col.field == 'ok_destino' || col.field == 'ok_contrato'" class="{{data[col.field] == 'OK' ? 'verde' : 'rojo'}}">
                    {{data[col.field]}}
                </div>
            </td>
        </tr>
    </tbody>
</table>
