
#miTabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    white-space: nowrap;
    /* Opcional: Añade margen superior para separar la tabla de otros elementos */
}

#miTabla th,
#miTabla td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

#miTabla th {
    background-color: #f2f2f2;
    /* Color de fondo para los encabezados */
}

#miTabla tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Color de fondo para las filas pares */
}

#miTabla tbody tr:nth-child(odd) {
    background-color: #ffffff;
    /* Color de fondo para las filas impares */
}


.verde {
    background-color: rgba(3, 157, 0, 0.733);
    color: #ffffff;
    text-align: center;
}
.rojo {
    background-color: rgba(157, 0, 0, 0.733);
    color: #ffffff;
    text-align: center;
}